body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/* ================
    Typography
   ================*/

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #FFF;
}

strong {
    font-weight: 900;
 }

.intro-subtitle {
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 1.3125rem;
    font-weight: 900;
    color: #F18119;
    
}

.top-text {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.625rem;
    font-weight: 900;
    color: #F18119;
}

h2 {
    font-size: 1.3125rem;
 }

.main-content-subtitle {
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: .5px;
}
/* media query for typography
*/
@media (min-width: 6   50px){
    body {
        font-size: 1.125rem;
    }
    h1 {
        font-size: 3.5rem;
    }
    /* This can be refractored.  hint: use a comma */
    h2 {
        font-size: 1.75rem;
     }
    .intro-subtitle {
        font-size: 1.75rem;
    }
}

/* =================
   Layout
   ================= */

/* Intro Section */

.intro {
    background-color: #404040;
    background-image: url(../images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 .5em 2em;    /* top L/R bottom*/

    display: flex;
    flex-direction: column;
}

h1 {
    margin: 2em 0;
}

.intro-subtitle {
    margin: 0;
}
.top-text {
    order: -1;
}

/* Main-content Section */

.main-content {
    padding: 2em 1em;
}

h2 {
    margin: 0;
}
.main-content-subtitle {
    margin-top: 0;
}

/* media query for layout */

@media (min-width: 650px) {
    body {
        background-color: lightpink;
        display: flex;
    }
    .intro,
    .main-content {
        width: 50%;
    }
}


